name: Docs

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Setup tools
        uses: jdx/mise-action@v3

      - name: Install dependencies
        run: npm ci
        working-directory: docs

      - name: Build VitePress site
        run: npm run build
        working-directory: docs

      - name: Configure git
        uses: kota65535/github-git-config-action@v2
        with:
          user.name: github-actions[bot]
          user.email: 41898282+github-actions[bot]@users.noreply.github.com
          github-token: ${{ secrets.PERSONAL_TOKEN }}

      - name: Diff
        id: diff
        run: |
          git add -N .
          git diff --name-only --exit-code
        continue-on-error: true
        working-directory: docs

      - name: Commit & Push
        if: steps.diff.outcome == 'failure'
        run: |
          git add .
          git commit --author=. -m 'docs: build VitePress site'
          git pull --rebase --autostash
          git push origin HEAD
        working-directory: docs
